.skill-card {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    margin: 6px;
    padding: 8px 16px;
    width: max-content;
}

.skill-icon {
    font-size: 80px;
}

.skill-name {
    font-size: 18px;
}

@media only screen and ( max-width: 720px ) {
    .skill-card {
        width: max-content;
        height: 100px;
    }

    .skill-icon {
        font-size: 60px;
    }
}