.about {
    padding-bottom: 48px;
}

.about-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.picture {
    height: 560px;
}

.about-info {
    font-size: 48px;
}

.info-name {
    color: rgb(0, 242, 255);
    font-size: 36px;
    font-weight: bold;
    font-style: oblique;
}

.info-detail {
    font-size: 36px;
}

.container {
    position: relative;
    min-height: 560px;
    width: 680px;
    background: url('../../../assets/coding.png');
    background-size: cover;
} 

.container::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 520px;
    width: 680px;
    background: url('../../../assets/19103.jpg');
    background-size: 720px;
    background-position: cover;
    mix-blend-mode: screen;
}


@media only screen and ( max-width: 720px ) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 280px;
    }

    .about-info {
        font-size: 20px;
    }

    .info-name {
        font-size: 26px;
    }

    .info-detail {
        font-size: 20px;
    }
}